body {
  /* background-image: url(background.jpg); */
  background-color: darkorange;
}
.nav {
  width: 100vm;
  height: 50px;
  background-color: black;
  display: flex;
  flex-direction: row;
}
.nav li {
  float: left;
  line-height: 50px;
}
.nav a {
  color: white;
  text-decoration: none;
  columns: #777777;
  padding: 50px;
}
.nav a:hover {
  background-color: #3f3f3f;
  color: #e8e7e3;
}
.inner-nav-bars {
  font-size: x-large;
  margin: 50px;
}
.blank {
  width: 100%;
  height: 100vh;
}
.blank img {
  width: 100%;
  height: 100vh;
}
.page404 {
  width: 100%;
  height: 100 vh;
}

.Introduction {
  width: 100%;
  height: 100vh;
}
.About_me {
  width: 100%;
  height: 100vh;
}
.Visitor_info {
  width: 100%;
  height: 100vh;
}
.Contact_info {
  width: 100%;
  height: 100vh;
}
h1 {
  background-color: black;
  text-align: center;
  color: white;
}
.gif {
  width: 500px;
  position: absolute;
  height: 500px;
  left: 450px;
}
#Wei_photo {
  position: relative;
  left: 500px;
  border-radius: 50px;
  height: 370px;
  width: 500px;
}
p {
  font-family: cursive;
}
p::first-letter {
  font-size: 30px;
}

.GoTop {
  position: fixed;
  left: 800px;
}
