/* #background-pic {
  position: relative;
  height:
  width:100% vm;
} */
body {
  background-image: url(background.jpg);
}
.nav {
  width: 1400px;
  height: 50px;
  background-color: #e8e7e3;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
}
.nav li {
  float: left;
  line-height: 50px;
}
.nav a {
  font-weight: 1300;
  text-decoration: none;
  columns: #777777;
  padding: 50px;
}
.nav a:hover {
  background-color: #3f3f3f;
  color: #e8e7e3;
}
.inner-flex-bars {
  /* width: 200px;
  height: 150px; */
  font-size: x-large;
  /* display: flex; */
  margin: 50px;
  /* flex-direction: row; */
}

h1 {
  background-color: gold;
  text-align: center;
}
h2 {
  background-color: gold;
  font-size: large;
}
img {
  position: absolute;
  height: 100px;
  align-content: center;
}
p {
  font-family: cursive;
}
p::first-letter {
  font-size: 30px;
}
button {
  height: 25px;
  width: 100vw;
  font-size: large;
  font: bold;
}

#Visitor_info {
  color: green;
}
#Introduction {
}
#red_btn {
  color: red;
  font-style: italic;
}
.btn {
  border-color: green;
  border-style: solid;
  border-width: 2px;
}
#Army_logo {
  position: relative;
  left: 700px;
  top: 50px;
}
#Wei_photo {
  position: relative;
  left: 500px;
  border-radius: 50px;
  height: 370px;
  width: 500px;
}
